.header {
    padding: 91px 50px 96px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header-menu-list {
    display: flex;
    gap: 33px;
    list-style: circle;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}

.header-menu-item:first-child {
    list-style-type: none;
}

.header-menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.link-active {
  text-decoration: none;
}

.header-logo {
    display: block;
    width: 148px;
    height: 105px;
    justify-self: center;
    align-items: start;
}

.header-logo-image {
    display: block;
    width: 100%;
    height: 100%;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.address-link {
    text-decoration: underline;
    text-underline-offset: 4px;
}
 
.header-address {
    max-width: 240px;
    justify-self: end;
}

.cover {
    position: relative;
    min-height: 757px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 165px 50px 48px;
    z-index: 1;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.6);
    z-index: -1;
    pointer-events: none;
}

.cover-title {
    position: relative;
    z-index: 2;
    padding: 0;
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    line-height: 115%;
    letter-spacing: 30px;
    text-align: left;
    text-transform: uppercase;
}

.cover-title-item {
    display: block;
}

.text-center {
  text-align: center;
  padding-top: 20px;
}

.text-right {
  text-align: right;
  padding-top: 20px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover-description {
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.cover-description-text {
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    word-spacing: 18px;
}

.cover-description-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  background: transparent;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.lots {
    margin: 180px 24px 120px;
}

.lots-title {
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
    padding-left: 40px;
}

.lots-card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 27px;
}

.lots-card-item {
    width: 334px;
    min-height: 596px;
}

.lots-card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.lots-card {
    position: relative;
    height: 100%;
    padding: 49px 40px 48px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    z-index: 1;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
} 

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots-card-title, 
.lots-card-text {
    position: relative;
    z-index: 2;
}

.lots-card-title {
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    text-align: left;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.lots-card-text {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.lots-more {
    display: inline-block;
    margin-top: 35px;
    margin-left: 40px;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    margin-bottom: 151px;
    padding: 33px 24px;
}

.about-logo {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-logo img {
    width: 148px;
}

.about-title {
    margin-top: 100px;
    margin-bottom: 100px;
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.about-text {
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: start;
    margin: 0 50px 82px;
}

.footer-address {
    max-width: 265px;
}

.footer-menu {
    min-width: 162px;
}

.footer-menu-list {
    list-style: none;
    color: #000000;
    font-size: 18px;
    text-align: center;
}

.footer-social-list {
    list-style: none;
    display: flex;
    justify-self: end;
    gap: 51px;
}

.footer-social-item {
    width: 46px;
}